# New York Fed Replication

In [35]:
# Setting up 

import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

sample = "~//projects//equifaxmacro_proj//EquiFax3//2_10_Percent_Sample_Construction//output//sample//"
output_3 = "~//projects//equifaxmacro_proj//EquiFax3//3_Balance_In_And_Out_Construction//output//"

In [2]:
# we're only going to pull every third month, since it's quarterly 

def monyr(monnum):

    mon = (monnum + 5) % 12 + 1

    if mon < 10: 
        MONNUM = "0" + str(mon)
    else: 
        MONNUM = str(mon)

    YRNUM = int(((monnum - mon)/12) + 2006)

    DATE = str(YRNUM) + MONNUM
    
    return DATE;

quartercols = [monyr(3*quarternum) for quarternum in range(1, 66)]

## Ones that just look at balances and accounts

In [3]:
alltl_str = output_3 + "1_balance_in_and_out.parquet"
alltl = pd.read_parquet(alltl_str, columns = quartercols).reset_index()

In [4]:
non_other_pc_types = [
            'FM', # first mortgage
            'HR', # home equity revolving 
            'AB2', # auto bank loan
            'AF2', # auto finance loan
            'BC', # bank card 
            'RT', # retail 
            'SL1', # student loan deferred
            'SL2', # student loan non-deferred  
            ]

In [5]:
# calculate totals for the classic types first
non_other = alltl[alltl.product_category.isin(non_other_pc_types)]
other = alltl[~alltl.product_category.isin(non_other_pc_types)]

In [6]:
# now, recode the equifax product categories for the non-others 

# mortgage 
non_other.loc[non_other['product_category'] == 'FM', 'product_category'] = 'first_mortgage'

# home equity revolving 
non_other.loc[non_other['product_category'] == 'HR', 'product_category'] = 'he_revolving'

# auto loan 
non_other.loc[non_other['product_category'].isin(['AB2', 'AF2']), 'product_category'] = 'auto'

# credit card
non_other.loc[non_other['product_category'].isin(['BC', 'RT']), 'product_category'] = 'credit_card'

# student loan
non_other.loc[non_other['product_category'].isin(['SL1', 'SL2']), 'product_category'] = 'student_loan'

/home/afan/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [7]:
sum = non_other.drop(['consumer_id', 'trade_id'], axis = 1).head(100000).groupby('product_category').sum()

In [17]:
# now let's group the "other" group for each month

sum_other = other.iloc[:, 3:].head(1000).sum()
sum_other = pd.DataFrame(sum_other).T

In [23]:
sum_other.index = ['other']

In [28]:
a = pd.concat([sum, sum_other], axis = 0).T
a.columns = a.columns + "_bal"
a

,auto_bal,credit_card_bal,first_mortgage_bal,he_revolving_bal,student_loan_bal,other_bal
200509,19598671.0,16685436.0,210621220.0,16106602.0,7290885.0,685612.0
200512,19731469.0,15643891.0,214778780.0,17384171.0,7679110.0,704257.0
200603,20043822.0,15325567.0,222715266.0,17062215.0,8475854.0,706941.0
200606,20251237.0,15647998.0,230380957.0,17607817.0,8847016.0,718711.0
200609,20487943.0,15629123.0,236577998.0,17518739.0,9332841.0,739066.0
200612,20554424.0,16004968.0,236795132.0,17987982.0,9681522.0,969575.0
200703,20224278.0,15277200.0,242410928.0,17437228.0,10324845.0,863620.0
200706,19962624.0,15920295.0,251443726.0,19183336.0,10655587.0,849002.0
200709,20210152.0,16300289.0,254391176.0,20520435.0,11032424.0,818086.0
200712,20613620.0,16933425.0,254411069.0,21267362.0,11660218.0,789634.0
200803,20497325.0,16952564.0,260731676.0,22316047.0,12157428.0,798801.0
200806,20442073.0,17408267.0,263741092.0,22479876.0,12373165.0,793650.0
200809,20136516.0,17819310.0,266274564.0,23049767.0,12962578.0,789017.0
200812,19437040.0,18075762.0,267571384.0,22676572.0,13637114.0,699508.0
200903,18626057.0,17859902.0,262135146.0,22995797.0,13821002.0,770699.0
200906,18213378.0,17608961.0,257367361.0,23481942.0,14133618.0,687553.0
200909,18738395.0,17709404.0,252100311.0,22990031.0,14512949.0,636095.0
200912,18347029.0,17577596.0,253391955.0,22727798.0,14952003.0,610196.0
201003,17852975.0,16493192.0,248147196.0,23010572.0,15427925.0,576315.0
201006,17661383.0,15954331.0,243119128.0,22339301.0,15526252.0,577563.0
201009,17686272.0,15616812.0,240188996.0,22209464.0,15742181.0,559849.0
201012,17736951.0,15586956.0,234501328.0,22174728.0,16038793.0,569235.0
201103,17201046.0,14935217.0,237037275.0,21239809.0,16446908.0,607381.0
201106,17296537.0,14939974.0,237717883.0,20652855.0,16506191.0,559384.0
201109,17182113.0,14913086.0,231348778.0,21504488.0,16624242.0,549475.0
201112,16662894.0,15197340.0,226054301.0,21055010.0,16560975.0,558980.0
201203,16019497.0,14369024.0,223350435.0,20424873.0,17137896.0,565537.0
201206,16194415.0,14132263.0,218452829.0,19515018.0,17825578.0,546013.0
201209,16649841.0,14242219.0,217497298.0,18711833.0,17725173.0,549077.0
201212,16602303.0,14641201.0,216317860.0,18105880.0,17722284.0,590625.0
201303,16942077.0,13980178.0,217761705.0,17393260.0,17965605.0,578355.0
201306,17056046.0,13916986.0,209276141.0,17753125.0,17786241.0,570183.0
201309,16832005.0,13822752.0,214560991.0,17892733.0,18603538.0,549643.0
201312,17090917.0,14196487.0,216410073.0,16960276.0,18662258.0,529444.0
201403,17028159.0,13474009.0,214075863.0,16847470.0,18843749.0,524772.0
201406,17869853.0,13721405.0,216547731.0,16804138.0,18848014.0,605347.0
201409,18048299.0,13986000.0,212526151.0,16499613.0,18977118.0,798394.0
201412,18438725.0,14323586.0,214059985.0,16003578.0,19238390.0,797455.0
201503,18284206.0,13751072.0,214982127.0,14877546.0,19850248.0,817442.0
201506,18480806.0,13921816.0,215657512.0,15234811.0,19633915.0,799949.0
201509,19493588.0,14036949.0,213538004.0,14755388.0,18697836.0,802800.0
201512,20069662.0,14214429.0,208609390.0,14591257.0,18727052.0,527254.0
201603,20003605.0,13594894.0,217702560.0,13918390.0,19130654.0,529433.0
201606,20594190.0,13577139.0,215499834.0,13491306.0,18861089.0,390258.0
201609,21531313.0,13928458.0,215824734.0,13835069.0,19902003.0,355443.0
201612,21630907.0,14424317.0,218726862.0,13998040.0,20153512.0,414716.0
201703,21851669.0,14033363.0,226222485.0,13206176.0,20056565.0,364256.0
201706,21754968.0,14262077.0,224815530.0,13906726.0,19660734.0,403144.0
201709,21745664.0,14664863.0,224800747.0,14210805.0,19721709.0,401350.0
201712,21866342.0,14971979.0,221526713.0,13115038.0,20004225.0,394657.0
201803,22394930.0,14671479.0,224600535.0,12856167.0,20004906.0,401769.0
201806,22236321.0,14860729.0,222595923.0,12859995.0,20016589.0,439054.0
201809,22272509.0,14861327.0,228253925.0,12074173.0,20373849.0,515353.0
201812,22816137.0,15363916.0,233170234.0,12178442.0,20293834.0,513413.0
201903,22588887.0,15163439.0,233852085.0,11972196.0,20252725.0,500493.0
201906,22579465.0,15323633.0,235149708.0,11697280.0,20326083.0,532761.0
201909,22562819.0,15176374.0,239824130.0,11432027.0,20261099.0,553068.0
201912,22747189.0,15816485.0,237846615.0,11846477.0,19664288.0,598061.0
202003,22081838.0,15127930.0,237162931.0,11491638.0,19665422.0,578886.0
202006,21817612.0,13618821.0,240687223.0,12208955.0,19815929.0,536430.0
202009,21796199.0,13198134.0,239688379.0,11371528.0,19541148.0,494640.0
202012,21414267.0,13506910.0,245885238.0,11361193.0,19304421.0,471277.0
202103,21290751.0,12082247.0,244725089.0,10634349.0,19362835.0,454728.0
202106,21158950.0,12254591.0,253611743.0,9425826.0,18948109.0,484254.0
202109,21463937.0,12679981.0,248584073.0,8897138.0,18856888.0,883847.0

now we need to append these to each other and we're done 

# Number of accounts by loan type

In [31]:
acc = non_other.drop(['consumer_id', 'trade_id'], axis = 1).head(10000).groupby('product_category').count().T

In [33]:
acc.columns = acc.columns + "_acc"
acc

product_category,auto_acc,credit_card_acc,first_mortgage_acc,he_revolving_acc,student_loan_acc
200509,214,1701,177,46,127
200512,207,1686,177,51,122
200603,207,1678,173,47,122
200606,217,1683,179,46,107
200609,220,1709,178,46,94
200612,220,1702,176,47,103
200703,221,1678,181,46,100
200706,222,1691,186,42,103
200709,223,1684,176,43,107
200712,216,1694,173,44,117
200803,211,1726,167,44,118
200806,211,1773,169,45,109
200809,212,1784,169,41,116
200812,208,1789,172,41,130
200903,193,1950,170,39,129
200906,189,1903,173,41,131
200909,190,1821,164,39,140
200912,182,1785,164,40,158
201003,182,1707,163,40,158
201006,188,1677,162,39,153
201009,190,1614,160,39,156
201012,193,1607,157,40,166
201103,198,1583,150,39,169
201106,191,1577,144,41,161
201109,186,1575,145,41,155
201112,183,1593,144,38,173
201203,179,1548,146,36,170
201206,189,1554,147,37,181
201209,185,1578,140,35,185
201212,186,1573,143,32,184
201303,191,1580,143,36,202
201306,188,1582,143,34,177
201309,186,1538,139,31,193
201312,182,1573,135,32,193
201403,181,1561,140,33,190
201406,191,1527,136,35,189
201409,198,1519,134,35,176
201412,189,1490,134,35,184
201503,180,1493,133,32,174
201506,193,1495,130,31,179
201509,183,1465,133,30,183
201512,181,1440,130,28,184
201603,174,1444,125,29,175
201606,175,1393,120,29,174
201609,179,1386,118,31,177
201612,168,1398,119,30,180
201703,163,1410,120,29,177
201706,168,1405,123,32,164
201709,166,1362,122,34,155
201712,160,1302,122,33,154
201803,162,1286,121,32,162
201806,176,1320,124,36,157
201809,175,1288,118,31,141
201812,171,1284,116,31,140
201903,177,1299,118,32,130
201906,187,1296,120,32,128
201909,183,1274,118,29,131
201912,190,1304,121,28,133
202003,181,1302,119,29,134
202006,178,1199,117,27,131
202009,184,1184,115,29,156
202012,185,1136,118,27,153
202103,177,1124,115,27,144
202106,177,1126,117,26,147
202109,179,1137,116,25,145

* Percent of balance 90+ days delinquent by loan type 
* geography!

# going back to the 10% sample files

In [36]:
# now let's just read in one month at a time

mon1_str = sample + "200507_10perc.parquet"
mon1 = pd.read_parquet(mon1_str)

In [37]:
mon1.head()

,consumer_id,archive_date,zip_code,inquiries_12_months,age_oldest_account,age_oldest_mortgage_account,age_newest_account,number_of_accounts,number_accounts_opened_within_12_months,number_accounts_always_satisfactory,number_accounts_major_derogatory,number_revolving_accts_greater_than_or_equal_to_50_percent_utilization,bankcard_accts_over_75_percent_utilization,number_accounts_past_due,total_past_due_amount,bankruptcy_flag,foreclosure_flag,number_3rd_party_collection_accts,total_amount_3rd_party_collections,number_open_bankcard_accounts,number_open_mortgage_accounts,vantage_score_3,state,trade_id,origination_date_open,origination_portfolio_type,origination_product_category,origination_vantage_score3,product_category,small_business_owner_flag,pim_score,consumer_age,mortgage_indicator,deceased_consumer,terms,status_category,balance,high_credit,monthly_payment,portfolio_type,transferred_sold_flag,date_reported,narrcode_1,narrcode_2,narrcode_3,narrcode_4,ecoa,rate_status,scheduled_payment_amount,date_of_last_activity,date_of_last_payment,actual_payment_amount,payment_frequency,account_type,activity_designator,origination_vantage_score4,origination_Bankruptcy_Navigator_Index,origination_Consumer_Income_Score,vantage_score_4,bankruptcy_Navigator_Index,consumer_Income_Score,revolver_Transactor_Behavior_Last_6_Months,revolver_Transactor_Behavior_Last_12_Months,revolver_Transactor_Behavior_Last_24_Months,percent_Actual_Payment_to_Scheduled_Payment_Auto_Last_6_Months,percent_Actual_Payment_to_Scheduled_Payment_Auto_Last_12_Months,percent_Actual_Payment_to_Scheduled_Payment_Auto_Last_24_Months,percent_Actual_Payment_to_Scheduled_Payment_Mortage_Last_6_Months,percent_Actual_Payment_to_Scheduled_Payment_Mortage_Last_12_Months,percent_Actual_Payment_to_Scheduled_Payment_Mortage_Last_24_Months,mortgage_inquiries_last_1_month,potential_Mortgage_inquiries_last_1_month,origination_Industry_code,industry_code,consumer_age_archive,joint_Holders_In_Set,weight,m_y,csv_name,id_num
5,7997902,2005-07-26,7735.0,1.0,154.0,22.0,2.0,22.0,3.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999998.0,4.0,1.0,779,NJ,191208105,200505.0,R,RT,779.0,RT,NaN,51,6,1,0,NaN,1,0,6000,0,R,1,2005-06-01,233,0,0,0,I,1,NaN,None,None,NaN,None,07,None,775.0,360.0,37.0,775,360,37,9.0,9.0,9.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0,0,DC,DC,6,0,1,200507,200507_2_ADS.csv,67247961
6,6373039,2005-07-26,30043.0,8.0,139.0,82.0,9.0,25.0,2.0,5.0,3.0,8.0,2.0,13.0,10369.0,0.0,0.0,0.0,9999998.0,2.0,1.0,420,GA,191208327,200311.0,R,RT,420.0,RT,NaN,35,3,1,0,NaN,1,189,254,10,R,0,2005-07-01,233,0,0,0,I,1,10.0,2005-07-01,2005-06-01,50.0,M,07,None,456.0,1.0,31.0,456,1,31,9.0,9.0,9.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0,0,CG,CG,3,0,1,200507,200507_2_ADS.csv,67247962
13,15170225,2005-07-26,32217.0,0.0,226.0,9998.0,15.0,12.0,0.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,651.0,1.0,98.0,762,FL,191211683,199108.0,R,RT,762.0,RT,NaN,41,3,0,0,NaN,1,3523,7500,360,R,0,2005-07-01,233,0,0,0,I,1,360.0,2005-07-01,2005-06-01,NaN,None,07,None,710.0,388.0,59.0,710,388,59,9.0,9.0,9.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0,0,DC,DC,3,0,1,200507,200507_2_ADS.csv,67247969
20,14157373,2005-07-26,95062.0,99.0,166.0,90.0,6.0,19.0,1.0,18.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999998.0,2.0,1.0,789,CA,192492211,199607.0,R,RT,789.0,RT,NaN,50,3,1,0,NaN,8,0,230,0,R,1,2005-07-01,244,65,0,0,I,9,NaN,2001-12-01,2002-10-01,NaN,None,07,B,765.0,309.0,41.0,765,309,41,9.0,9.0,9.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0,0,DC,DC,3,0,1,200507,200507_2_ADS.csv,22923984
31,17458230,2005-07-26,29645.0,0.0,366.0,366.0,6.0,36.0,1.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999998.0,9.0,1.0,783,SC,192496127,198805.0,R,BC,783.0,BC,NaN,48,5,1,0,NaN,1,0,5800,0,R,0,2005-07-01,233,0,0,0,J,1,NaN,2000-12-01,2000-12-01,NaN,None,18,None,791.0,450.0,47.0,791,450,47,9.0,9.0,9.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,0,0,BB,BB,5,0,1,200507,200507_2_ADS.csv,22923995

## total number of new accounts and inquiries

In [38]:
# clean the exception values to zero 
mon1.loc[mon1['inquiries_12_months']>=92, 'inquiries_12_months'] = 0
mon1.loc[mon1['number_accounts_opened_within_12_months']>=92, 'number_accounts_opened_within_12_months'] = 0

In [41]:
acc_iq = mon1[['consumer_id', 'inquiries_12_months', 'number_accounts_opened_within_12_months']].drop_duplicates()

In [42]:
mon1.shape

(13903042, 80)

In [43]:
acc_iq.shape

(1975837, 3)

In [44]:
acc_iq_sum = acc_iq[['inquiries_12_months', 'number_accounts_opened_within_12_months']].sum()

In [45]:
acc_iq_vars = ['consumer_id', 'inquiries_12_months', 'number_accounts_opened_within_12_months']

acc_iq_sum

inquiries_12_months                        3530814.0
number_accounts_opened_within_12_months    2397473.0
dtype: float64

## Credit score at origination: Mortgages and Auto loans

In [52]:
orig_cred = mon1[['transferred_sold_flag', 'origination_vantage_score3', 'product_category']]

In [55]:
orig_cred.columns = ['new_origination_flag', 'origination_vantage_score3', 'product_category']

In [61]:
 # find people with new mortgages and calculate percentiles 
mort = orig_cred[(orig_cred['product_category'] == "FM") & (orig_cred['new_origination_flag'] == 1)]
mp = mort['origination_vantage_score3'].describe(percentiles = [0.1, 0.25, 0.5]).iloc[4:7]

# find people with new auto loans and calculate percentils 
auto = orig_cred[(orig_cred['product_category'].isin(['AB2', 'AF2'])) & (orig_cred['new_origination_flag'] == 1)]
ap = auto['origination_vantage_score3'].describe(percentiles = [0.1, 0.25, 0.5]).iloc[4:7]

# create the values for the rows and make labels
row = pd.DataFrame(pd.concat([mp, ap]))
row.index = ['mort_10%', 'mort_25%', 'mort_50%', 'auto_10%', 'auto_25%', 'auto_50%']

In [62]:
orig_cred_cols = ['transferred_sold_flag', 'origination_vantage_score3', 'product_category']
row

          origination_vantage_score3
mort_10%                       584.0
mort_25%                       653.0
mort_50%                       728.0
auto_10%                       524.0
auto_25%                       590.0
auto_50%                       670.0

## Derogatory debt

In [66]:
derog_vars = ['status_category', 'balance']

In [67]:
derog = mon1[derog_vars]

In [68]:
derog.balance.sum()

142732607043

In [73]:
derog_stat = derog.groupby('status_category').sum()/derog.balance.sum()
derog_stat.index = ['Miscellaneous',
                    'Current',
                    '30 DPD',
                    '60 DPD',
                    '90 DPD',
                    '120 DPD or Collections',
                    'Foreclosure Started',
                    'Closed-Positive',
                    'Closed-Severe Derogatory',
                    'Closed-Bankruptcy']

In [74]:
derog_stat

                           balance
Miscellaneous             0.012915
Current                   0.950366
30 DPD                    0.013224
60 DPD                    0.004043
90 DPD                    0.001849
120 DPD or Collections    0.005138
Foreclosure Started       0.002186
Closed-Positive           0.000000
Closed-Severe Derogatory  0.008120
Closed-Bankruptcy         0.002159

In [71]:
mon2_str = sample + "201010_10perc.parquet"
mon2 = pd.read_parquet(mon2_str, columns = derog_vars)

In [72]:
mon2.groupby('status_category').sum()/mon2.balance.sum()

                  balance
status_category
0                0.015047
1                0.883369
2                0.018594
3                0.009752
4                0.005928
5                0.031297
6                0.018895
7                0.000000
8                0.012682
9                0.004435

In [75]:
derog_type_vars = ['product_category', 'status_category', 'balance']

In [76]:
derog_type = mon1[derog_type_vars]

In [78]:
derog_type['sd'] = (derog_type.status_category >= 4) * 1

/tmp/ipykernel_214674/4285756938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  derog_type['sd'] = (derog_type.status_category >= 4) * 1

In [89]:
# now, recode the equifax product categories for the non-others 
def recode_nyfrb(non_other): 
    # mortgage 
    non_other.loc[non_other['product_category'] == 'FM', 'product_category'] = 'first_mortgage'

    # home equity revolving 
    non_other.loc[non_other['product_category'] == 'HR', 'product_category'] = 'he_revolving'

    # auto loan 
    non_other.loc[non_other['product_category'].isin(['AB2', 'AF2']), 'product_category'] = 'auto'

    # credit card
    non_other.loc[non_other['product_category'].isin(['BC', 'RT']), 'product_category'] = 'credit_card'

    # student loan
    non_other.loc[non_other['product_category'].isin(['SL1', 'SL2']), 'product_category'] = 'student_loan'
    
    non_other = non_other[non_other.product_category.isin(['first_mortgage', 'he_revolving', 'auto', 'credit_card', 'student_loan'])]
    
    return non_other;

In [90]:
derog_type = recode_nyfrb(derog_type)

/home/afan/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [91]:
derog_type.loc[derog_type.sd==1, ['product_category', 'balance']].groupby(['product_category']).sum()/derog_type[['product_category', 'balance']].groupby('product_category').sum()

                   balance
product_category
auto              0.022711
credit_card       0.087769
first_mortgage    0.009869
he_revolving      0.002131
student_loan      0.073219

## Third party collections

In [92]:
tpc_vars = ['consumer_id', 'number_3rd_party_collection_accts','total_amount_3rd_party_collections']

tpc = mon1[tpc_vars]

In [93]:
tpc.

,consumer_id,number_3rd_party_collection_accts,total_amount_3rd_party_collections
5,7997902,0.0,9999998.0
6,6373039,0.0,9999998.0
13,15170225,1.0,651.0
20,14157373,0.0,9999998.0
31,17458230,0.0,9999998.0

In [ ]:
# drop duplicates, recode variables, let's do this another day.